.container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container button {
  font-size: 1.5rem;
  font-family: 'Itim';
  width: 10rem;
  line-height: 1.2;
  padding: 0.7rem;
  color: #fff;
}

.blueButton {
  background-color: var(--color-secondary);
}

.greenButton {
  background-color: var(--color-primary);
}

@media (max-width: 645px) {
  .container {
    align-self: center;
  }
}
