.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 200;
  color: var(--color-font2);
  background-color: var(--color-secondary);
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.footer h2 {
  font-family: var(--font-header);
  font-weight: 300;
}
.footer h5 {
  font-weight: inherit;
}

.nav {
  display: flex;
  justify-self: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  gap: 1rem;
}

.listElement {
  font-size: 1.2rem;
}
