@font-face {
  font-family: Architechs;
  src: url(../assets/fonts/ArchitectsDaughter.woff2);
}
@font-face {
  font-family: Titan;
  src: url(../assets/fonts/TitanOne.woff2);
}
@font-face {
  font-family: Itim;
  src: url(../assets/fonts/Itim.woff2);
}
:root {
  --color-primary: #1ac13d;
  --color-secondary: #1a91c6;
  --color-red: #ec3939;
  /* --color-white: #fafafa; */
  --color-bg: #fafafa;
  --color-bg-box: #fafafa;
  --color-border: #000;
  --color-font: #000;
  --color-font2: #fafafa;
}

/* dark theme*/
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0fab27;
    --color-secondary: #0f74b1;
    --color-red: #e42424;
    --color-bg: #2c2c2c;
    --color-bg-box: #60996d;
    --color-border: #2c2c2c;
    --color-font: #f0f0f0;
    --color-font2: #f0f0f0;
    --color-green-dark: #99e6aa;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  --font-header: Titan, system-ui, 'Helvetica Neue', sans-serif;
  --font-text: Itim, system-ui, 'Helvetica Neue', sans-serif;
  --font-special: Architechs, system-ui, 'Helvetica Neue', sans-serif;
  --size-hover: 1.5rem;
}
body {
  background-color: var(--color-bg);
}
a {
  color: inherit;
  text-decoration: none;
  transition: text-decoration 1s ease, font-size 0.3s ease;
}
a:hover {
  font-size: var(--size-hover);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
