.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 3rem;
  border-bottom: 1px solid black;
  --size-hover: 1.4rem;
}

.container a:hover {
  text-decoration: underline;
}

.logo,
.title {
  display: flex;
  justify-self: flex-start;
}

.title {
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: normal;
}

.nav {
  display: flex;
  justify-self: flex-end;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3rem;
}

.listElement {
  font-family: var(--font-text);
  font-size: 1.3rem;
  color: var(--color-primary);
}

.logo {
  cursor: pointer;
  user-select: none;
}

.burguerButton {
  display: none;
}
.burguerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  width: 50%;
  gap: 4rem;
  padding-top: 5rem;
  position: absolute;
  right: 100px;
  opacity: 0;
  background: var(--color-bg);
  transition: all 0.3s ease;
}

.burguerMenu > nav {
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
}

@media (max-width: 1150px) {
  .container > div:last-of-type {
    display: none;
  }
  .nav {
    display: none;
  }
  .burguerButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }

  .burguerButton div {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background: var(--color-burger);
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
  .burguerButton[data-open='true'] {
    position: relative;
    z-index: 12;
  }

  .burguerMenu[data-open='true'] > .nav {
    display: flex;
    opacity: 1;
  }
  .burguerMenu[data-open='true'] {
    visibility: visible;
    opacity: 1;
    top: 0;
    right: 0;
    z-index: 11;
    height: 100%;
  }
  .burguerMenu[data-open='true'] > .nav > ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .burguerButton div:first-child[data-open='true'] {
    transform: rotate(45deg);
  }

  .burguerButton div:nth-child(2) {
    opacity: 1;
    transform: translateX(0px);
  }
  .burguerButton div:nth-child(2)[data-open='true'] {
    opacity: 0;
    transform: translateX(20px);
  }

  .burguerButton div:nth-child(3)[data-open='true'] {
    transform: rotate(-45deg);
  }
}

@media (max-width: 800px) {
  .burguerMenu {
    padding-top: 10rem;
  }
}
@media (max-width: 500px) {
  .burguerButton {
    position: relative;
    top: 8px;
    right: 1px;
  }
  .burguerButton[data-open='true'] {
    position: fixed;
    top: 91px;
    right: 44px;
  }
  .burguerMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10rem;
  }
}
