.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0.5rem 1rem;
  border: 2px solid red;
  max-width: 15rem;
}

.container h3 {
  display: inline;
}

.container p {
  display: inline;
  text-align: right;
  cursor: pointer;
}
