.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-text);
}

.name {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 300;
}

.container button {
  font-family: inherit;
  background-color: var(--color-bg);
  color: var(--color-font);
  font-size: inherit;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid var(--color-border);
}

.image {
  border-radius: 50%;
}

.container a {
  font-family: var(--font-text);
  font-size: 1.5rem;
}
