.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.name {
  font-size: 1.2rem;
  font-family: 'Itim';
}

.image {
  border-radius: 50%;
}

.container a {
  font-family: 'Itim';
  font-size: 1.5rem;
}
